/*
    We're using a modified ABEM + CSS Grid structure for this project.
        What is modified is just that modifieers are seperated so something like "grid --wide" "nav__item --dark"
        this lets use the power of SASS to compile things for us, while still writing clean code

    This file is for individual components. These are reusable all over the site.
 */

.h1{
  font-weight: bold;
  font-size: var(--font-huge);
}

.card {
  background: var(--col-bg-light);
  border-radius: var(--radius-medium);
  border: var(--border-secondary);
  padding: var(--size-medium);
  box-shadow: var(--box-shadow);

  & .card__header{
    padding-bottom: var(--size-huge);
    border-bottom: var(--col-border-primary);
  }

  & .card__body{
    padding-bottom: var(--size-medium);
    border-bottom: var(--col-border-primary);
    padding-top: var(--size-medium);
    border-top: var(--col-border-primary);
  }

  & .card__footer{
    padding-top: var(--size-huge);
    border-top: var(--col-border-primary);
  }
}