/*
    We're using a modified BEM + CSS Grid structure for this project.
        What is modified is just that modifieers are seperated so something like "grid --wide" "nav__item --dark"
        this lets use the power of SASS to compile things for us, while still writing clean code

    This file should have the changes to the base of our CSS. Changes to a, ul, defaults (border box etc) should go here.
 */

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--col-text-primary);
  /*Backround fills in the triangle and diamond*/
  background: var(--col-bg-primary);

  display: grid;
  grid-template-rows: 1fr auto;

  #main-window {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: var(--size-medium) var(--size-medium);

    & > div {
      max-height: 100%;
    }
  }

  * {
    transition: 0.15s ease all;
  }
}

a {
  font-weight: bold;
  color: var(--col-text-link);
}

button {
  border: var(--border-primary);
  padding: var(--size-small) var(--size-medium);
  background: var(--col-bg-secondary);
  color: var(--col-text-primary);
  border-radius: var(--radius-small);
  margin: var(--size-tiny);
  font-size: var(--font-medium);
  font-weight: bold;
  box-shadow: var(--box-shadow);

  &:active {
    transform: translateY(3px);
  }
}

input {
  border: var(--border-primary);
  padding: 8px 16px;
  background: var(--col-bg-white);
  color: var(--col-text-primary);
  border-radius: var(--radius-small);
  margin: var(--size-tiny);
  width: 100%;
  min-width: 100px;
}

.--full-width{
  width: 100%;
  grid-column: 1 / -1;
}

#nav a.router-link-exact-active {
  color: var(--col-text-link);
  font-weight: 900;
}

/*global transitions*/
.fade-enter-active,
.fade-leave-active {
  transition: ease all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  display: none;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
  display: none;
}

.error {
  border: var(--border-error);
  background: var(--col-bg-error);
  font-weight: bold;
  color: var(--col-text-error);
  border-radius: var(--radius-medium);
  padding: var(--size-small) var(--size-medium);
}
