:root{
    /*======================================== Sizes ========================================*/
    /*========== Global ==========*/
    --size-tiny: 4px;
    --size-small: 8px;
    --size-medium: 16px;
    --size-large: 24px;
    --size-huge: 32px;
    --size-gargantuan: 40px;

    --radius-small: 4px;
    --radius-med-small: 6px;
    --radius-medium: 8px;
    --radius-large: 12px;

    --line-small: 1px;
    --line-medium: 2px;
    --line-large: 3px;

    --font-small: 1rem;
    --font-medium: 1.6rem;
    --font-large: 2.4rem;
    --font-huge: 3rem;
    --font-gargantuan: 4rem;
    --font-heckin-chonker: 5rem;

    /*======================================== Colors ========================================*/
    /*========== Global ==========*/

    --col-text-primary: #382f21;
    --col-text-secondary: #493c29;
    --col-text-neutral: #333333;
    --col-text-link: #35356e;
    --col-text-error: #550000;

    --col-border-primary: #5e4f37;
    --col-border-secondary: #493c29;
    --col-border-neutral: #333333;
    --col-border-error: #770000;

    --col-bg-primary: #ffeedd;
    --col-bg-secondary: #ccbbaa;
    --col-bg-white: #fafafa;
    --col-bg-light: #fff9ee;

    --col-bg-error: #ffaaaa;

    --col-nul: #00000000;

    /*======================================== Features ========================================*/
    --border-primary: 1px var(--col-border-primary) solid;
    --border-secondary: 1px var(--col-border-secondary) solid;
    --border-error: 1px var(--col-border-error) solid;
    --border-neutral: 1px var(--col-border-neutral) solid;

    --box-shadow: 0 2px 4px #00000050;
}